.list{
    width: 100%;
    margin: 0 auto;
    height: 7vw;
    border: 1px solid rgba(58, 55, 55, 0.516);
    border-radius: 4px;
    box-shadow: 2px 1px 1px gray;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 1.25vw;
    gap: .1em;

}
.carre{
    grid-column: 12 span;
    grid-row: 1/2;
    margin-left: 1em;
    margin-top: .5em;
}
.list h4{
    grid-column: 12 span;
    grid-row: 2/3;
    padding-left: 1em;
    width: 100%;
}
.in{
    grid-column: 12 span;
    grid-row: 3/4;
    width: 90%;
    margin: 0 auto ;
    height: 1.5vw;
    margin-left: 1em;
    padding-left: 1em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(71, 71, 71, 0.508);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media  screen and (max-width:767px) {
     h4{
        font-size: .5em;
     }    
     .list{
        height: 7vw !important;
     }
}
.succes{
    background-color: rgba(51, 152, 51, 0.469);
  
}
.danger{
    background-color: rgba(215, 103, 103, 0.464);
}
.btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 2 span;
    grid-row: 4/5;
    margin-top: 1.2em;
}
.btn button{
    margin-left: .9em;
    width: 35%;
    height: 1.5vw;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    font-weight: bold;

}