<!-- <div class="list" [ngClass]="{'danger': this.appareilsStatus === 'éteint', 'succes': this.appareilsStatus === 'allumé'}">
    <div style="height: 20px; width: 20px; background-color: red;" *ngIf="appareilsStatus === 'éteint'" class="carre"></div> 
    <h4 [ngStyle]="{ color:getColor() }">
        appareil : {{ appareilsName }} --status: {{getStatus()}} --{{ indexOfAppreil }}
    </h4>
    <input type="" class="in" [(ngModel)]="appareilsName">

    <div class="btn">
        <button (click)="onSwitchOne()" [disabled]="appareilsStatus==='allumé'" style="background-color: green;">allumer</button>
        <button (click)="OffSwitchOne()" [disabled]="appareilsStatus==='éteint'" style="background-color:red;">eteindre</button>
    </div>
</div> -->
