<input type="" class="in" placeholder="Rechercher un appareil ***"
    [formControl]="deviceCtrl">
<ng-container *ngIf="devices$ | async as devices">
    <ng-container *ngFor="let device of devices">
        <div class="list" [ngClass]="{'danger': !getStatus(device.status), 'succes': getStatus(device.status)}">
            <div *ngIf="!getStatus(device.status)" class="carre"></div>
            <h4 [ngStyle]="{color: getColor(device.status)}" (click)="onNavigateToSingle(device)">
                <em>appareil</em>: {{device.name}} | <em>status</em>: {{device.status}} | <em>id</em>: {{device.id}}
            </h4>
            <div class="btn">
                <button (click)="onSwitchOne(device)" 
                    [ngStyle]="{backgroundColor: getColor(device.status)}">{{device.status | titlecase}}</button>
            </div>
        </div>
    </ng-container>
</ng-container>
