button{
    width: 40%;
    color: white;
    font-weight: bold;
    height: 3vw;
    border-radius: 10px;
    font-size: 1.3em;
}
.auth{
    width: 25%;
    margin: 0 auto;
    
}
h2{
    font-size: 2em;
}