<div class="auth">
    <h2>Authentification</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Identifiant ***" [formControl]="identifiantCtrl">
        <input type="password" placeholder="Mot de passe ***" [formControl]="passwordCtrl">
        <ng-container *ngIf="unauthorized$ | async">
            <div class="error">{{errorUnauthorized$ | async}}</div>
        </ng-container>
        <button type="submit" [disabled]="loginForm.invalid"
            style="background-color: green;">Se connecter ***</button>
    </form>
</div>
