
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Mes Appareils</h2>
            <p>Mis à jour: {{ lastUpdate | date:'EEEE d MMMM y'| lowercase}}</p>
            <app-appareil *ngFor="let appareil of appareils ; let i = index" 
            [appareilsName]="appareil.name"
            [appareilsStatus]="appareil.status"
            [indexOfAppreil]="i"
            ></app-appareil>
            <h2><button (click)="onAllumer()">toute allumer</button></h2> 
            <h2><button (click)="onEteint()">toute eteindre</button></h2> 
        </div>
    </div>
  </div>
